services: 
  database:
    image: 'postgres:17.4-alpine'
    restart: always
    networks:
      - databases

    # Enviroment variables
    env_file:
      - .env
    environment:
      POSTGRES_MAX_CONNECTIONS: 200
    ports:
      - "${POSTGRES_PORT}:5432"

    volumes:
      - data:/var/lib/postgresql/data
      # Specify init-db docker entrypoint
      - ./deploy/scripts/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh      
      - ./deploy/configs/startup_migration.sql:/tmp/startup_migration.sql
# Docs: https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html
  pgadmin:
    image: dpage/pgadmin4:9.1
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_PORT: 80
    ports:
      - 15432:80
    volumes:
      - pgadmin:/var/lib/pgadmin
      - ./deploy/configs/servers.json.tpl:/tmp/servers.json.tpl
      - ./deploy/scripts/init-pgadmin.sh:/pgadmin-entrypoint.sh
      
    depends_on:
      - database
    user: "root"
    entrypoint: ["/bin/sh", "/pgadmin-entrypoint.sh"]

    networks:
      - databases

networks:
  databases:

volumes:
  data:
  pgadmin: